- add_to_breadcrumbs _('Wiki'), wiki_path(@wiki)
- breadcrumb_title s_("Wiki|Pages")
- page_title s_("Wiki|Pages"), _("Wiki")
- add_page_specific_style 'page_bundles/wiki'
- wiki_sort_options = [{ text: s_("Wiki|Title"), value: 'title', href: wiki_path(@wiki, action: :pages, sort: Wiki::TITLE_ORDER)}, { text: s_("Wiki|Created date"), value: 'created_at', href: wiki_path(@wiki, action: :pages, sort: Wiki::CREATED_AT_ORDER) }]

.wiki-page-header.top-area.flex-column.flex-lg-row
  %h1.page-title.gl-flex-grow-1
    = s_("Wiki|Wiki Pages")

  .nav-controls.pb-md-3.pb-lg-0
    = link_to wiki_path(@wiki, action: :git_access), class: 'btn gl-button' do
      = sprite_icon('download')
      = _("Clone repository")

    .dropdown.inline.wiki-sort-dropdown
      .btn-group{ role: 'group' }
        = gl_redirect_listbox_tag wiki_sort_options, params[:sort], data: { right: true }
        = wiki_sort_controls(@wiki, params[:sort], params[:direction])

%ul.wiki-pages-list.content-list
  = render @wiki_entries, context: 'pages'

= paginate @wiki_pages, theme: 'gitlab'
